/* style.css */

/* Custom styling */
body {
    background-color: lightblue; /* Set the background color */
    font-size: 18px; /* Adjust the font size as per your preference */
}

/* Centering the search forms */
form {
    text-align: center;
    margin-top: 50px; /* Adjust as needed */
}

/* Centering the form inputs */
form input[type="text"],
form input[type="password"] {
    width: 300px; /* Adjust width as needed */
    margin: 10px auto; /* Center horizontally */
    display: block;
}

/* Centering the submit buttons */
form button[type="submit"] {
    margin: 10px auto; /* Center horizontally */
    display: block;
}

/* Styling for result titles */
.result-title {
    font-weight: bold; /* Make titles bold */
}

/* Styling for antivirus scan results */
.result-item.antivirus-scan {
    font-size: 20px; /* Increase font size for antivirus scan results */
    font-weight: bold; /* Make antivirus scan results bold */
    text-align: center; /* Center the antivirus scan results */
}

