<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <h1>Search</h1>
    <form action="/lookup" method="post"> <!-- Update the form action to '/lookup' -->
        <label for="domain">Enter Domain:</label> <!-- Use 'domain' as the input name -->
        <input type="text" id="domain" name="domain"> <!-- Use 'domain' as the input name -->
        <button type="submit">Search Whois</button>
    </form>
    <form action="/virustotal/lookup" method="post">
        <label for="hash_value">VirusTotal URL:</label>
        <input type="text" id="url" name="url">
        <button type="submit">Search VirusTotal</button>
    </form>
</body>
</html>
